.video {
    position: absolute;
    z-index: -1;
    height: 80vh;
    width: 100vw;
    top: 85px;
    left: 0;
    object-fit: cover;

}
.title {
    color: rgba(202, 171, 31, 0.781);
    font-family:'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 40%;
    text-decoration: underline;
}