@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');


body {
    font-family: 'Comforter Brush', cursive;
    background: url("../images/background.jpg");
}

.background {
    color: rgba(179, 208, 241, 0.616);
    opacity: 30px;
}

.text {
    text-align: center;
    color: rgb(199, 194, 192);
}

.title {
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;

}

.title2 {
    color: rgba(95, 181, 184, 0.747);
    text-align: center;
}

.title3 {
    color: rgba(95, 181, 184, 0.747);
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
   color:  rgba(202, 171, 31, 0.479) ;
}
.title4 {
    color: rgba(95, 181, 184, 0.747); 
    transition: 1;
}
.title4:hover {
    transform: translateY(-10%);
}
.title5 {
    color: rgba(202, 171, 31, 0.479) ;
    text-decoration: underline;
}

.navbar {
    background: url("../images/nav.png");
    opacity: 50%;
    color: ghostwhite;

}

.item {
    display: block;
    width: 100%;
    border-radius: 50px;
}

.brand {
    font-family: 'Comforter Brush', cursive;
    color: gainsboro;
    font-size: 25px;
}
.img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
    border: 4px solid rgba(95, 181, 184, 0.747);  
}

.par {
    color: ghostwhite;
    text-align: center;
    opacity: 50%;
    font-size: 18px;
}


.card {
    transition: 0.8s;
    box-shadow: 0 0 30px 2px rgba(250, 250, 250, 0.1) ;
}

.card:hover {
    transform: translateY(-10%);
}

.img {
    transition: 1s;
}

.img:hover {
    transform: scale(1.1);
}